__pycache__/
*.pyc
mail_utils/
outputs*/
datasets/
sd-turbo/
stable-diffusion-v1-5/
*.ckpt
*.pth
SD_img/
checkpoints*/
samples_train/
*.png
*.jpg
samples_train/*.png
SD_VAE_full_finetuned_all/
dino_compressor_ckpt/
pretrained_encoders/
*.pt
*.safetensors
synth_dump/
SDv1.5_vaes/
dino_student_distill_ckpt/
Taguchi_v57*/